<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Navbar Example</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   </head>

   <body>
        <div class="d-flex headerband ">
            <div class="headerband text-center w-75">
                <a href="{{ path ('homepage')}}"><img src=" {{ asset('asset/image/homepage.png') }}" alt="Vue du site Teol Charolles"></a>
                <a href="{{ path ('homepage')}}"><img width = "979 px" src=" {{ asset('asset/image/Sloganteol.png') }}" alt="Vue du site Teol Charolles"></a>
            </div>
            <div class="d-flex mr-3 w-25">
                <ul class="navbar-nav d-flex">

                    <li class="nav-item">
                        <a href="{{ path('homepage') }}" class="nav-link d-flex align-items-center">
                            <i class="fa fa-home mr-2" aria-hidden="true"></i>
                            Accueil <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a href="#" class="nav-link d-flex align-items-center dropdown-toggle" role="button"
                            id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user mr-2" aria-hidden="true"></i>
                                {% if app.user %}
                                    Mon compte
                                {% else %}
                                    Identification
                                {% endif %}
                                <span class="sr-only">(current)</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                    {% if is_granted('ROLE_TECH') %}
                                        <a href="{{ path('producer_profil') }}" class="dropdown-item">Accès Technicien</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="#" class="dropdown-item">Administration</a>
                                    {% endif %}
                                    <a href="{{ path('member_profil') }}" class="dropdown-item">Mon profil</a>
                                    <a href="{{ path('app_logout') }}" class="dropdown-item">Me déconnecter</a>
                                {% else %}
                                    <a href="{{ path('app_login') }}" class="dropdown-item">Me connecter</a>
                                    <a href="#" class="dropdown-item">M'inscrire</a>
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
      
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
 
         <!-- Brand -->
            <a class="navbar-brand" href="{{ path('homepage') }}">TEOL</a>
 
         <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    La coopérative
                    </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Présentation</a>
                            <a class="dropdown-item" href="#">Domaines d'activité</a>
                            <a class="dropdown-item" href="#">Zone d'activité</a>
                            <a class="dropdown-item" href="#">Actualités</a>
                            <a class="dropdown-item" href="#">Contact</a>
                            <a class="dropdown-item" href="#">Infos pratiques</a>
                        </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Adhérent
                    </a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ path('member_profil')}}">Mon compte</a>
                        </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Technicien
                    </a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Mon compte</a>
                        </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Nos magasins
                    </a>
                        <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Charolles</a>
                        <a class="dropdown-item" href="#">Saint Yvan</a>
                        <a class="dropdown-item" href="#">Toulon-sur-Arroux</a>
                        <a class="dropdown-item" href="#">Blanzy</a>
                        <a class="dropdown-item" href="#">Dompierre les Ormes</a>
                        <a class="dropdown-item" href="#">Palinges</a>
                        <a class="dropdown-item" href="#">Issy l'Evêque</a>
                        <a class="dropdown-item" href="#">Luzy</a>
                        <a class="dropdown-item" href="#">Molinet</a>
                        </div>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Administrateur</a>
                </li>
        
            </ul>
 
        </nav>
    </body>