{% extends 'base.html.twig' %}

{% block title %}Profil Membre{% endblock %}

{% block body %}
<div class="member-form">

				<h1>Mon Profil Adhérent</h1>
				{# Détails du profil du User loggué #}
				<p>
					Utiliisateur : {{app.user.username}}
				</p>
				<p>
					Email : {{app.user.email}}
				</p>
				<p>
					Crée le : {{app.user.createdAt | date('d-m-Y')}}
				</p>
				<p>
					Mis à jour le : {{app.user.updatedAt | date('d-m-Y')}}
				</p>
			
				<p>
					Droits :       {% for role in app.user.roles %}
						<span> - {{ role }}  </span>
					{% endfor %}
				</p>
				<a href="#" class="btn btn-warning">         Modifier mon Profil        <i class="fas"></i></a>
		</div>
{% endblock %}